<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srishti.talento">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartClass"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GatePassActivity"
            android:exported="false" />
        <activity
            android:name=".ExamTermsAndCondition"
            android:exported="false" />
        <activity
            android:name=".TalentoTwoExamCodeVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".TalentoTwoDetailedExamResult"
            android:exported="false" />
        <activity
            android:name=".TalentoTwoRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmartClassAppliedJobDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmartclassSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmartClassEditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmartClassContactUsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmartClassHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".JobAlertDetailsActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity
            android:name=".JobAlertActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PlacementActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ComprehensivePassageActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PackageActivity" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".FireBaseCloudMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>